header{
    background-color:#13a153d0;
    text-align: center;
}



footer{
    gap: 5px;
    padding: 8px 2%;
    box-shadow: 0 0 30px 8px #7f818046;
}

footer .flex{
    justify-content: space-between;
    border-bottom: 8px solid #13a153d0;;
}


footer .line-footer p i{
    color: #080808;
    font-size: 10px;
}

footer .line-footer p a{
    color: #080808;
}

.btn-social button{ 
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color:#13a153d0 ;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.btn-abrir-menu{
    display: none;
}